<%- include('partials/header') %>

<h2>Welcome, <%= name %>!</h2>

<div class="row">
  <% const images = ['cat1.jpg', 'cat2.jpg', 'cat3.jpg', 'cat4.jpg', 'cat5.jpg']; %>
  <% images.forEach(img => { %>
    <div class="col-md-4 col-sm-6 col-12 mb-4">
      <img src="/images/<%= img %>" alt="Image" class="img-fluid rounded border shadow">
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
